footer {
  padding: 20px 30px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

ul {
  display: flex;
  gap: 10px;
}

img {
  width: 40px;
}

.logo {
  width: 70px;
}

p {
  color: grey;
  font-size: medium;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text {
  color: grey;
  padding: 80px;
  text-align: center;
}

.text2 {
  color: black;
  background-color: white;
  padding: 100px;
}
