<footer>
  <img class="logo" src="../../../assets/images/kevin-logo.png" alt="Page logo">
  <p>Contact me in email | <a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank">cruzk1257&#64;gmail.com</a></p>
  <ul class="contact">
    <li>
      <a href="https://github.com/EvansSnave" target="_blank">
        <img src="../../../assets/images/github-logo-white.png" alt="Github icon">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/kevin-cruz-developer/" target="_blank">
        <img src="../../../assets/images/LinkedIn_icon.png" alt="LinkledIn icon">
      </a>
    </li>
    <li>
      <a href="https://twitter.com/KevinCruzDev" target="_blank">
        <img src="../../../assets/images/x-icon-white.png" alt="X icon">
      </a>
    </li>
  </ul>
</footer>
