img {
  width: 150px;
  height: 150px;
}

section {
  background-color: white;
  overflow: hidden;
  p {
    color: black;
    text-align: center;
    margin-top: 10px;
  }
}

ul {
  display: flex;
  width: max-content;
  padding-block: 65px;
  li {
    padding: 30px;
    animation: infiniteScroll 30s linear infinite;
  }
}

@keyframes infiniteScroll {
  to {
    transform: translateX(calc(-50% - 99.27rem));
  }
}
