<header>
  <section>
    <h3>IT IS A PLEASURE TO MEET YOU</h3>
    <summary>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo, 
      iusto placeat quia mollitia consequatur veniam voluptatum porro beatae ipsam nam ab pariatur 
      laboriosam quos minima odit libero. Dolores, dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam magnam ipsa magni nobis saepe atque recusandae dolorem? Facere, optio officiis mollitia nemo omnis, sint 
      harum vitae cumque numquam labore doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe pariatur 
      quae! Iure possimus facilis repellat corrupti, officia aut earum accusamus nam vitae nesciunt quidem ullam 
      dolor dolore nemo asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo, 
      iusto placeat quia mollitia consequatur veniam voluptatum porro beatae ipsam nam ab pariatur 
      laboriosam quos minima odit libero. Dolores, dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam magnam ipsa magni nobis saepe atque recusandae dolorem? Facere, optio officiis mollitia nemo omnis, sint 
      harum vitae cumque numquam labore doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe pariatur 
      quae! Iure possimus facilis repellat corrupti, officia aut earum accusamus nam vitae nesciunt quidem ullam 
      dolor dolore nemo asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo, 
      iusto placeat quia mollitia consequatur veniam voluptatum porro beatae ipsam nam ab pariatur 
      laboriosam quos minima odit libero. Dolores, dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam magnam ipsa magni nobis saepe atque recusandae dolorem? Facere, optio officiis mollitia nemo omnis, sint 
      harum vitae cumque numquam labore doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe pariatur 
      quae! Iure possimus facilis repellat corrupti, officia aut earum accusamus nam vitae nesciunt quidem ullam 
      dolor dolore nemo asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo, 
      iusto placeat quia mollitia consequatur veniam voluptatum porro beatae ipsam nam ab pariatur 
      laboriosam quos minima odit libero. Dolores, dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam magnam ipsa magni nobis saepe atque recusandae dolorem? Facere, optio officiis mollitia nemo omnis, sint 
      harum vitae cumque numquam labore doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe pariatur 
      quae! Iure possimus facilis repellat corrupti, officia aut earum accusamus nam vitae nesciunt quidem ullam 
      dolor dolore nemo asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo, 
      iusto placeat quia mollitia consequatur veniam voluptatum porro beatae ipsam nam ab pariatur 
      laboriosam quos minima odit libero. Dolores, dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam magnam ipsa magni nobis saepe atque recusandae dolorem? Facere, optio officiis mollitia nemo omnis, sint 
      harum vitae cumque numquam labore doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe pariatur 
      quae! Iure possimus facilis repellat corrupti, officia aut earum accusamus nam vitae nesciunt quidem ullam 
      dolor dolore nemo asperiores.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo, 
      iusto placeat quia mollitia consequatur veniam voluptatum porro beatae ipsam nam ab pariatur 
      laboriosam quos minima odit libero. Dolores, dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam magnam ipsa magni nobis saepe atque recusandae dolorem? Facere, optio officiis mollitia nemo omnis, sint 
      harum vitae cumque numquam labore doloribus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos saepe pariatur 
      quae! Iure possimus facilis repellat corrupti, officia aut earum accusamus nam vitae nesciunt quidem ullam 
      dolor dolore nemo asperiores.
    </summary>
  </section>
  <aside>
    <img src="../../../../assets/images/html-icon.png">
    <article>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempore fuga 
      praesentium, aut eum, dolores, nesciunt consequatur omnis exercitationem aperiam ipsum ullam modi 
      ipsam! Deserunt, iure ipsam. Rerum, repudiandae nostrum?
    </article>
  </aside>
</header>
<app-technologies></app-technologies>
