<section>
  <app-details></app-details>
  <ul class="projects-list">
    @for (project of projects; track $index) {
      <li class="project">
        <div class="carousel">
          <div class="carousel-view">
            <button type="button" #leftBtn><</button>
            <ul class="images" #images>
              @for (image of project.images; track $index) {
                <li class="container-image">
                  <img alt="project showcase" [src]="image" class="showcase-image">
                </li>
              }
            </ul>
            <button type="button" #rightBtn>></button>
          </div>
        </div>
        <div class="project-info">
          <p class="project-title">{{project.title}}</p>
          <article class="project-description">{{project.description}}</article>
          <p class="project-instructions">{{project.instructions}}</p>
          <ul class="technologies">
            @for (tech of project.technologies; track $index) {
              <li class="technology">
                <a [href]="tech.link" target="_blank"><img alt="technologie icon" [src]="tech.image_url" class="icon"></a>
                <p>{{tech.title}} </p>
              </li>
            }
          </ul>
          <p class="project-github">See the GitHub repository <a [href]="project.repository_link" target="_blank">here</a></p>
        </div>
      </li>
    }
  </ul>
</section>
