<section>
  <ul>
    @for (project of projects; track $index) {
      <li>
        <div class="carousel">
          <div class="carousel-view">
            <button type="button"><</button>
            <ul class="images">
              @for (image of project.images; track $index) {
                <li class="container-image">
                  <img alt="project showcase" src={{image}} class="showcase_image">
                </li>
              }
            </ul>
            <button type="button">></button>
          </div>
        </div>
        <div>
          <p>{{project.title}}</p>
          <article>{{project.description}}</article>
          <ul class="technologies">
            @for (tech of project.technologies; track $index) {
              <li>
                <a><img alt="technologie icon" src={{tech.image_url}} class="icon"></a>
                <p>{{tech.title}} </p>
              </li>
            }
          </ul>
          <p>{{project.instructions}}</p>
          <p>See the GitHub repository <a href={{project.repository_link}} target="_blank">here</a></p>
        </div>
      </li>
    }
  </ul>
</section>
