<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <input type="string" formControlName="title" placeholder="Title">
  <input type="number" formControlName="price" placeholder="Price">
  <input type="number" formControlName="year" placeholder="Year">
  <input type="string" formControlName="author" placeholder="Author">
  <input type="number" formControlName="rating" placeholder="Rating">
  <textarea formControlName="description" placeholder="Description"></textarea>
  <input type="number" formControlName="user_id" placeholder="User id">
  <input type="file" placeholder="Image" (change)="onImagePicked($event)">
  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>
