.form-container {
  background-color: #272727;
  display: flex;
  gap: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

article {
  width: 50%;
  color: rgb(179, 179, 179);
}

h3, h4, h5, h6 {
  font-size: x-large;
  margin: 20px 0;
  color: grey;
}

.input-container {
  display: flex;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input, textarea {
  padding: 5px 10px;
  color: rgb(179, 179, 179);
  border: 1px grey solid;
  width: 100%;
  &:hover {
    border-color: rgb(255, 123, 0);
  }
}

textarea {
  resize: none;
}

input[type="file"] {
  display: none;
  cursor: pointer;
}

label {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px grey solid;
  border-radius: 5px;
  background-color: rgb(255, 123, 0);
  &:hover {
    border-color: grey;
    background-color: black;
  }
  &:active {
    background-color: white;
    color: black;
  }
}

button {
  border-radius: 30px;
}
