<header>
  <h1>MY PROJECTS</h1>
  <article>
    Here you will find a list of my projects. There's a little description, a list of technologies,
    instructions to install, a link to its deployed version if available, images and a link to the 
    corresponding repository for each project.
    Here you will find a list of my projects. There's a little description, a list of technologies,
    instructions to install, a link to its deployed version if available, images and a link to the 
    corresponding repository for each project.
    Here you will find a list of my projects. There's a little description, a list of technologies,
    instructions to install, a link to its deployed version if available, images and a link to the 
    corresponding repository for each project.
    Here you will find a list of my projects. There's a little description, a list of technologies,
    instructions to install, a link to its deployed version if available, images and a link to the 
    corresponding repository for each project.
    Here you will find a list of my projects. There's a little description, a list of technologies,
    instructions to install, a link to its deployed version if available, images and a link to the 
    corresponding repository for each project.
    Here you will find a list of my projects. There's a little description, a list of technologies,
    instructions to install, a link to its deployed version if available, images and a link to the 
    corresponding repository for each project.
    Here you will find a list of my projects. There's a little description, a list of technologies,
    instructions to install, a link to its deployed version if available, images and a link to the 
    corresponding repository for each project.
    Here you will find a list of my projects. There's a little description, a list of technologies,
    instructions to install, a link to its deployed version if available, images and a link to the 
    corresponding repository for each project.
  </article>
</header>
