<div class="background">
  <div class="elements">
    <div class="square sq1"></div>
    <div class="square sq2"></div>
    <div class="square sq3"></div>
  </div> 
</div>
<section>
  <img src="../assets/images/background-face.png" alt="background page">
  <div class="presentation">
    <h2 class="subtitle">A PLEASURE</h2>
    <h1 class="title">I'M KEVIN CRUZ</h1>
    <button type="button"><div class="triangle"></div>See my projects</button>
  </div>
  <app-header></app-header>
  <app-projects></app-projects>
</section>
