section {
  padding: 0 200px;
}

.presentation {
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  & > * {
    margin-left: 400px;
  }
}

.subtitle {
  color: #858482;
  font-size: x-large;
}

.title {
  font-size: xxx-large;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
  &:hover {
    .triangle {
      border-left-color: rgb(255, 123, 0);
    }
  }
  &:active {
    .triangle {
      border-left-color: white;
    }
  }
}

.triangle {
  border-top: 8px solid transparent;
  border-left: 8px solid white;
  border-bottom: 8px solid transparent;
}
