$main-font: white;
$secondary-main: rgb(255, 123, 0);
$main-color: #272727;

@font-face {
  font-family: 'Main';
  src: url('./assets/fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  font-family: 'Main', sans-serif;
  color: $main-font;
  & > * {
    color: $main-font;
  }

  box-sizing: border-box;
  border-radius: 0;
  background-color: transparent;
  font-size: small;
  font-weight: 100;
  outline: 1px solid red;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid $main-font;
  &:hover {
    border-color: $secondary-main;
  }
  &:active {
    background-color: $secondary-main;
  }
}

html {
  background-color: $main-color;
}
